<h2>Crear una nueva parada</h2>
<br>
<br>
<div id="eventos">

            <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="parada#collapse1">Agregar una nueva parada</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">

                        <fieldset>

<!--                             <input class= "form-control" type="hidden" placeholder="Enter id parada" id="idParada" ng-model="paradaActual.idParada">-->
                            <!--Input nombre-->
                            <div class="form-group col-md-12">
                                <label for="name" class="col-md-2 control-label">Nombre</label>
                                <div class="col-md-10">
                                    <input class= "form-control" type="text" placeholder="Enter nombre parada" id="nombreParadaUno" ng-model="paradaActual.nombreParadaUno">
                                </div>
                            </div>
                            <!--Input descripción-->
                            <div class="form-group col-md-12">
                                <label for="descripcion" class="col-md-2 control-label">Ciudad</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="ciudadParadaUno" placeholder="Enter ciudad parada" ng-model="paradaActual.ciudadParadaUno">
                                </div>
                            </div>
                            <!--Input tipo-->
                            <div class="form-group col-md-12">
                                <label for="tipo" class="col-md-2 control-label">Actividad</label>
                                <div class="col-md-10">
                                        <input type="text" class="form-control" id="actividadParadaUno" placeholder="Enter actividad parada" ng-model="paradaActual.actividadParadaUno">
                                </div>
                            </div>
                             <!--Input lugar-->
                            <div class="form-group col-md-12">
                                <label for="fecha" class="col-md-2 control-label">Fecha inicio</label>
                                <div class="col-md-10">
                                        <input type="date" class="form-control" id="fechaInicioParadaUno" placeholder="Enter fecha inicio parada" ng-model="paradaActual.fechaInicioParadaUno" ng-required="model.required">
                                </div>
                            </div>
                            <!--Input fecha-->
                            <div class="form-group col-md-12">
                                <label for="fecha" class="col-md-2 control-label">Fecha Fin</label>
                                <div class="col-md-10">
                                    <p class="input-group">
                                        <input type="date" class="form-control" id="fechaFinParadaUno" placeholder="Enter fecha fin parada" ng-model="paradaActual.fechaFinParadaUno" ng-required="model.required">

                                    </p>
                                </div>
                            </div>

                            <!--Boton para confirmar la creación del nuevo objeto-->
                            <div>
                                <button type="submit" ng-click="ctrl.agregarParada()">Agregar</button>
                            </div>
                        </fieldset>

                        <!--fin de la recoleccion de datos para un nuevo evento-->

                    </div>

                </div>
            </div>
    <!--<button type="submit" class="btn btn-default" ng-click="ctrl.agregarParada()">Guardar Parada</button>-->
<!--<button type="submit" class="btn btn-default" ng-click="ctrl.listarParadas()">Mostrar paradas</button>-->

<br>
<br>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="parada#collapse2">Ver todas mis paradas</a>
                </h4>
                <div id="collapse2" class="panel-collapse collapse in">

                    <form class="form-horizontal" role="form">
                        <ul ng-repeat="a in paradas">
                            <li>{{a.nombreParadaUno}}</li>
                            <li>{{a.ciudadParadaUno}}</li>
                            <li>{{a.actividadParadaUno}}</li>
                            <li>{{a.fechaInicioParadaUno}}</li>
                            <li>{{a.fechaFinParadaUno}}</li>
                        </ul>
                        <div class="form-group" id="dos">
                            <label class="control-label col-sm-2" for="nombreParada">Nombre Parada:</label>
                            <div class="col-sm-10">
                                <ul ng-repeat="a in paradas">
                                    <li>{{a.nombreParadaUno}}</li>
                                </ul>
                                <input class= "form-control" type="text" placeholder="Enter parada" id="nombreParada" ng-model="nombreParada">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="ciudadParadaUno">Ciudad parada:</label>
                            <div class="col-sm-10">
                                 <ul ng-repeat="a in paradas">
                                    <li>{{a.ciudadParadaUno}}</li>
                                </ul>
                                <input type="text" class="form-control" id="ciudadParada" placeholder="Enter ciudad" ng-model="ciudadParada">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="actividadParadaUno">Actividad parada:</label>
                            <div class="col-sm-10">
                                <ul ng-repeat="a in paradas">
                                    <li>{{a.actividadParadaUno}}</li>
                                </ul>
                                <input type="text" class="form-control" id="actividadParada" placeholder="Enter actividad" ng-model="actividadParada">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fechaInicioParadaUno">Fecha inicio parada:</label>
                            <div class="col-sm-10">
                                <ul ng-repeat="a in paradas">
                                    <li>{{a.fechaInicioParadaUno}}</li>
                                </ul>
                                <input type="text" class="form-control" id="fechaInicioParada" placeholder="Enter fecha inicio" ng-model="fechaInicioParada">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fechaFinParadaUno">Fecha fin parada:</label>
                            <div class="col-sm-10">
                                 <ul ng-repeat="a in paradas">
                                     <li>{{a.fechaFinParadaUno}}</li>
                                </ul>
                                <input type="text" class="form-control" id="fechaFinParada" placeholder="Enter fecha fin" ng-model="fechaFinParada">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<button type="submit" class="btn btn-default" ng-click="ctrl.listarParadas()">Mostrar paradas</button>

</div>
<!--Columna del catalogo que contiene los eventos-->

<!--                <div ng-repeat="parada in paradas">
                    <div class="col-md-4 col-sm-6 col-lg-3 well">
                        <div class="caption">
                            <p><strong>Nombre:</strong> <span>{{parada.nombreParadaUno}}</span></p>
                            <p><strong>Ciudad:</strong> <span>{{parada.ciudadParadaUno}}</span></p>
                            <p><strong>Actividad:</strong> <span >{{parada.actividadParadaUno}}</span></p>
                            <p><strong>Fecha inicio:</strong> <span>{{parada.fechaInicioParadaUno}}</span></p>
                            <p><strong>Fecha Fin:</strong> <span>{{parada.fechaFinParadaUno}}</span></p>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                            <button class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(evento)"><span class="glyphicon glyphicon-minus"></span> Remover</button>
                        </p>
                    </div>
                </div>-->
