<h2>Crear una nueva parada</h2>
<br>
<br>
<div id="paradas">

            <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="parada#collapse1">Agregar una nueva parada</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">

                        <fieldset>

<!--                         <input class= "form-control" type="hidden" placeholder="Enter id parada" id="idParada" ng-model="paradaActual.idParada">-->
                            <!--Input nombre-->
                            <div class="form-group col-md-12">
                                <label for="name" class="col-md-2 control-label">Nombre</label>
                                <div class="col-md-10">
                                    <input class= "form-control" type="text" placeholder="Enter nombre parada" id="nombreParadaUno" ng-model="paradaActual.nombre">
                                </div>
                            </div>
                            <!--Input descripción-->
                            <div class="form-group col-md-12">
                                <label for="descripcion" class="col-md-2 control-label">Ciudad</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="ciudadParadaUno" placeholder="Enter ciudad parada" ng-model="paradaActual.ciudad">
                                </div>
                            </div>
                            <!--Input tipo-->
                            <div class="form-group col-md-12">
                                <label for="tipo" class="col-md-2 control-label">Actividad</label>
                                <div class="col-md-10">
                                        <input type="text" class="form-control" id="actividadParadaUno" placeholder="Enter actividad parada" ng-model="paradaActual.actividad">
                                </div>
                            </div>
                             <!--Input lugar-->
                            <div class="form-group col-md-12">
                                <label for="fecha" class="col-md-2 control-label">Fecha inicio</label>
                                <div class="col-md-10">
                                        <input type="date" class="form-control" id="fechaInicioParadaUno" placeholder="Enter fecha inicio parada" ng-model="paradaActual.fechaInicio" ng-required="model.required">
                                </div>
                            </div>
                            <!--Input fecha-->
                            <div class="form-group col-md-12">
                                <label for="fecha" class="col-md-2 control-label">Fecha Fin</label>
                                <div class="col-md-10">
                                    <p class="input-group">
                                        <input type="date" class="form-control" id="fechaFinParadaUno" placeholder="Enter fecha fin parada" ng-model="paradaActual.fechaFin" ng-required="model.required">

                                    </p>
                                </div>
                            </div>

                            <!--Boton para confirmar la creación del nuevo objeto-->
                            <div>
                                <button type="submit" ng-click="ctrl.agregarParada()">Agregar</button>

                            </div>
                        </fieldset>

                        <!--fin de la recoleccion de datos para un nuevo evento-->

                    </div>

                </div>
            </div>
    <!--<button type="submit" class="btn btn-default" ng-click="ctrl.agregarParada()">Guardar Parada</button>-->
<!--<button type="submit" class="btn btn-default" ng-click="ctrl.listarParadas()">Mostrar paradas</button>-->

<br>
<br>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="parada#collapse2">Ver todas mis paradas</a>
                </h4>
                <div id="collapse2" class="panel-collapse collapse in">

                    <form class="form-horizontal" role="form">
<!--                        <ul ng-repeat="a in paradas">
                            <li>{{a.nombre}}</li>
                            <li>{{a.ciudad}}</li>
                            <li>{{a.actividad}}</li>
                            <li>{{a.fechaInicio}}</li>
                            <li>{{a.fechaFin}}</li>
                        </ul>-->
                        <div class="form-group" id="dos">
                            <label class="control-label col-sm-2" for="nombreParada">Nombre Parada:</label>
                            <div class="col-sm-10">
                                <ul ng-repeat="a in paradas">
                                    <li>{{a.nombre}}</li>
                                </ul>
<!--                                <input class= "form-control" type="text" placeholder="Enter parada" id="nombreParada" ng-model="nombre">-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="ciudadParadaUno">Ciudad parada:</label>
                            <div class="col-sm-10">
                                 <ul ng-repeat="a in paradas">
                                    <li>{{a.ciudad}}</li>
                                </ul>
                                <input type="text" class="form-control" id="ciudadParada" placeholder="Enter ciudad" ng-model="ciudad">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="actividadParadaUno">Actividad parada:</label>
                            <div class="col-sm-10">
                                <ul ng-repeat="a in paradas">
                                    <li>{{a.actividad}}</li>
                                </ul>
                                <input type="text" class="form-control" id="actividadParada" placeholder="Enter actividad" ng-model="actividad">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fechaInicioParadaUno">Fecha inicio parada:</label>
                            <div class="col-sm-10">
                                <ul ng-repeat="a in paradas">
                                    <li>{{a.fechaInicio}}</li>
                                </ul>
                                <input type="text" class="form-control" id="fechaInicioParada" placeholder="Enter fecha inicio" ng-model="fechaInicio">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fechaFinParadaUno">Fecha fin parada:</label>
                            <div class="col-sm-10">
                                 <ul ng-repeat="a in paradas">
                                     <li>{{a.fechaFin}}</li>
                                </ul>
                                <input type="text" class="form-control" id="fechaFinParada" placeholder="Enter fecha fin" ng-model="fechaFin">
                            </div>
                        </div>
  <button type="submit" ng-click="ctrl.eliminarParada(a)">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!--<button type="submit" class="btn btn-default" ng-click="ctrl.listarParadas()">Mostrar paradas</button>-->

</div>
<!--Columna del catalogo que contiene los eventos-->
<!--
                <div ng-repeat="parada in paradas">
                    <div class="col-md-4 col-sm-6 col-lg-3 well">
                        <div class="caption">
                            <p><strong>Nombre:</strong> <span>{{parada.nombre}}</span></p>
                            <p><strong>Ciudad:</strong> <span>{{parada.ciudad}}</span></p>
                            <p><strong>Actividad:</strong> <span >{{parada.actividad}}</span></p>
                            <p><strong>Fecha inicio:</strong> <span>{{parada.fechaInicio}}</span></p>
                            <p><strong>Fecha Fin:</strong> <span>{{parada.fechaFin}}</span></p>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-default btn-sm" ng-click="ctrl.editarParada(parada)"><span class="glyphicon glyphicon-edit"></span> Editar Parada</button>
                            <button class="btn btn-default btn-sm" ng-click="ctrl.eliminarParada(parada)"><span class="glyphicon glyphicon-minus"></span> Eliminar Parada</button>
                        </p>
                    </div>
                </div>-->

<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
  <div class="page-header">
    <h1 id="timeline">Timeline</h1>
  </div>
  <ul class="timeline">

    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div ng-repeat="parada in paradas">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{parada.nombre}}</h4>

        <div class="timeline-body">
          <p>{{parada.ciudad}}</p>
          <p>{{parada.actividad}}</p>
          <p>{{parada.fechaInicio}}</p>
          <p>{{parada.fechaFin}}</p>
        </div>
               </div>
    </div>
      </div>
    </li>
    <li class="timeline-inverted">

      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>

      <div class="timeline-panel">
<div ng-repeat="parada in paradas">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{parada.nombre}}</h4>

        <div class="timeline-body">
          <p>{{parada.ciudad}}</p>
          <p>{{parada.actividad}}</p>
          <p>{{parada.fechaInicio}}</p>
          <p>{{parada.fechaFin}}</p>
        </div>
               </div>
    </div>
      </div>
    </li>
<!--    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{parada.nombre}}</h4>
        </div>
        <div class="timeline-body">
          <p>{{parada.ciudad}}</p>
          <p>{{parada.actividad}}</p>
          <p>{{parada.fechaInicio}}</p>
          <p>{{parada.fechaFin}}</p>
        </div>
      </div>
    </li>-->

<!--    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          <hr>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>-->
  </ul>
<!--    </div>-->
</div>
</div>
