
<div class="container">

    <!--botones principales-->
    <div id="itinerario-header">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#itinerario-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Itinerarios</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="itinerario-navbar">
                    <button id="create-itinerario" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Crear Itinerario</button>
                    <button id="refresh-itinerario" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Actualizar Itinerarios</button>
                    <button id="save-itinerario" type="submit" form="itinerario-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode"><span class="glyphicon glyphicon-save"></span> Guardar itinerario</button>
                    <button id="cancel-itinerario" type="button" form="itinerario-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode" ng-click=" ctrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                </div>
            </div>
    </div>

    <!--finalizacion muestra campos requeridos para un itinerario-->
    <!--primer editmode segun ejemplo book-->
    <div ng-hide="ctrl.editMode">
        <div class="col-sm-12">
            <div ng-repeat="itinerario in records">
                <div class="col-md-4 col-sm-6 col-lg-3 well">
                    <div class="caption">
                        <p><strong>ID: </strong>{{itinerario.id}}</p>
                        <p><strong>Nombre: </strong>{{itinerario.nombreItinerario}}</p>
                        <p><strong>Inicio: </strong>{{itinerario.fechaInicio}}</p>
                        <p><strong>Fin: </strong>{{itinerario.fechaFin}}</p>
                        <br>
                    </div>
                    <p class="text-center">
                        <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(itinerario)"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                        <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(itinerario)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ctrl.editMode" class="col-md-6 well">
        <form novalidate name="form" id="itinerario-form" role="form" ng-submit="ctrl.saveRecord()">

            <fieldset>
                <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>

                <!--nombre del itinerario-->
                <div class="form-group col-md-12"  >
                    <label for="nombreItinerario" class="col-md-2 control-label">Nombre itinerario: </label>
                    <div class="col-md-10">
                        <input id="nombreItinerario" name="nombreItinerario" class="form-control" type="text" ng-model="currentRecord.nombreItinerario" required />
                    </div>
                </div>
                <!--fecha i-->
                <div class="form-group col-md-12" ng-class="{'has-success': !form.fechaInicio.$error.required && form.fechaInicio.$dirty, 'has-error': form.fechaInicio.$error.required && (form.fechaInicio.$dirty || form.$submitted)}" >
                    <label for="fechaInicio" class="col-md-2 control-label">Fecha Inicio</label>
                    <div class="col-md-10">
                        <p class="input-group">
                            <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="currentRecord.fechaInicio" is-open="cdate1.customStartDate.open" ng-click = "cdate1.customStartDate.open = true" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" class="input-md" readonly/>
                        </p>
                    </div>
                </div>
                <!--fecha f-->
                <div class="form-group col-md-12" ng-class="{'has-success': !form.fechaFin.$error.required && form.fechaFin.$dirty, 'has-error': form.fechaFin.$error.required && (form.fechaFin.$dirty || form.$submitted)}" >
                    <label for="fechaFin" class="col-md-2 control-label">Fecha Fin</label>
                    <div class="col-md-10">
                        <p class="input-group">
                            <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="currentRecord.fechaFin" is-open="cdate.customStartDate.open" ng-click = "cdate.customStartDate.open = true" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" class="input-md" readonly/>
                        </p>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</div>