<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.-->
    <div id="eventos">

            <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="evento#collapse1">Agregar un nuevo evento</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">

                        <!--Panel Body-->
                        <fieldset>
                            <!--revisar form.nombreEvento exista en vez de form.name-->
                            <input id="id" class="form-control" type="hidden" ng-model="eventoActual.id" />
                            <!--Input nombre-->
                            <div class="form-group col-md-12">
                                <label for="name" class="col-md-2 control-label">Nombre</label>
                                <div class="col-md-10">
                                    <input id="name" name="name" class="form-control" type="text" ng-model="eventoActual.name" required />
                                </div>
                            </div>
                            <!--Input descripción-->
                            <div class="form-group col-md-12">
                                <label for="descripcion" class="col-md-2 control-label">Descripción</label>
                                <div class="col-md-10">
                                    <input id="descripcion" name="descripcion" class="form-control" type="text" ng-model="eventoActual.descripcion" required />
                                </div>
                            </div>
                            <!--Input tipo-->
                            <div class="form-group col-md-12">
                                <label for="tipo" class="col-md-2 control-label">Tipo</label>
                                <div class="col-md-10">
                                        <input type="text" id="tipo" name="tipo" class="form-control" ng-model="eventoActual.tipo" required/>
                                </div>
                            </div>
                             <!--Input lugar-->
                            <div class="form-group col-md-12">
                                <label for="tipo" class="col-md-2 control-label">Lugar</label>
                                <div class="col-md-10">
                                        <input type="text" id="lugar" name="lugar" class="form-control" ng-model="eventoActual.lugar" required/>
                                </div>
                            </div>
                            <!--Input fecha-->
                            <div class="form-group col-md-12">
                                <label for="fecha" class="col-md-2 control-label">Fecha</label>
                                <div class="col-md-10">
                                    <p class="input-group">
                                        <input type="date" id="fecha" name="fecha" class="form-control" ng-model="eventoActual.fecha" ng-required="model.required"/>
                                    </p>
                                </div>
                            </div>
                            <!--Input precio-->
                            <div class="form-group col-md-12">
                                <label for="precio" class="col-md-2 control-label">Precio</label>
                                <div class="col-md-10">
                                    <input type="number" step="any" id="precio" name="precio" class="form-control" ng-model="eventoActual.precio" required/>
                                </div>
                            </div>
                            <!--Input URL imagen-->
                            <div class="form-group col-md-12">
                                <label for="img" class="col-md-2 control-label">URL de la imagen</label>
                                <div class="col-md-10">
                                        <input type="text" id="img" name="img" class="form-control" ng-model="eventoActual.img" required/>
                                </div>
                            </div>
                            <!--Input clasificación (SITIO INTERES O EVENTO)-->
                            <div class="form-group col-md-12" >
                                <label for="clasificacion" class="col-md-2 control-label">Clasificación</label>
                                <div class="col-md-10">
                                    <select name="Clasificacion" ng-model="eventoActual.clasificacion">
                                       <option value="evento">Evento</option>
                                       <option value="sitiointeres">SitioInteres</option>
                                    </select>
                                </div>
                            </div>

                            <!--Boton para confirmar la creación del nuevo objeto-->
                            <div>
                                <button type="submit" ng-click="ctrl.agregarEvento()">Agregar</button>
                            </div>
                        </fieldset>

                        <!--fin de la recoleccion de datos para un nuevo evento-->

                    </div>

                </div>
            </div>
        </div>

        <table id="catalogo">
            <tr>
                <td>
                    <h2>Eventos</h2>
                </td>
                <td>
                    <h2>Sitios de Interes</h2>
                </td>
            </tr>

            <tr>
            <!--Columna del catalogo que contiene los eventos-->
            <td id="eventos">
                <div ng-repeat="evento in eventos | filter:{clasificacion: 'evento'}">
                    <div class="col-md-4 col-sm-6 col-lg-3 well">
                        <div class="col-md-12">
                            <div class="img-thumbnail" id="image" ng-if="evento.img">
                                <a ng-href="{{evento.img}}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{evento.img}}" alt="{{evento.img}}"></a>
                            </div>
                        </div>
                        <div class="caption">
                            <p><strong>Nombre:</strong> <span>{{evento.name}}</span></p>
                            <p><strong>Descripción:</strong> <span>{{evento.descripcion}}</span></p>
                            <p><strong>Tipo:</strong> <span >{{evento.tipo}}</span></p>
                            <p><strong>Lugar/Dirección:</strong> <span>{{evento.lugar}}</span></p>
                            <p><strong>Fecha:</strong> <span>{{evento.fecha}}</span></p>
                            <p><strong>Precio:</strong> <span>{{evento.precio}}</span></p>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(evento)"><span class="glyphicon glyphicon-minus"></span> Remover</button>
                        </p>
                    </div>
                </div>
            </td>
            <!--Columna del catalogo que contiene los sitios de interes-->
            <td id ="sitios">
                <div>
                    <div ng-repeat="evento in eventos | filter:{clasificacion: 'sitio'}">
                    <div class="col-md-4 col-sm-6 col-lg-3 well">
                        <div class="col-md-12">
                            <div class="img-thumbnail" id="image" ng-if="evento.img">
                                <a ng-href="{{evento.img}}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{evento.img}}" alt="{{evento.img}}"></a>
                            </div>
                        </div>
                        <div class="caption">
                            <p><strong>Nombre:</strong> <span>{{evento.name}}</span></p>
                            <p><strong>Descripción:</strong> <span>{{evento.descripcion}}</span></p>
                            <p><strong>Tipo:</strong> <span>{{evento.tipo}}</span></p>
                            <p><strong>Lugar/Dirección:</strong> <span>{{evento.lugar}}</span></p>
                            <p><strong>Precio:</strong> <span>{{evento.precio}}</span></p>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(evento)"><span class="glyphicon glyphicon-minus"></span> Remover</button>
                        </p>
                    </div>
                    </div>
                </div>
            </td>
            </tr>
        </table>
    </div>

