<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.-->
    <div id="eventos">
        <table id="catalogo">
            <tr>
                <td>
                    <h2>Eventos</h2>
                </td>
                <td>
                    <h2>Sitios de Interes</h2>
                </td>
            </tr>

            <tr>
            <!--Columna del catalogo que contiene los eventos-->
            <td id="eventos">
                <div ng-repeat="evento in eventos | filter:{clasificacion: 'evento'}">
                    <div class="col-md-4 col-sm-6 col-lg-3 well">
                        <div class="col-md-12">
                            <div class="img-thumbnail" id="image" ng-if="evento.img">
                                <a ng-href="{{evento.img}}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{evento.img}}" alt="{{evento.img}}"></a>
                            </div>
                        </div>
                        <div class="caption">
                            <p><strong>Nombre:</strong> <span>{{evento.nombre}}</span></p>
                            <p><strong>Descripción:</strong> <span>{{evento.descripcion}}</span></p>
                            <p><strong>Tipo:</strong> <span >{{evento.tipo}}</span></p>
                            <p><strong>Lugar/Dirección:</strong> <span>{{evento.lugar}}</span></p>
                            <p><strong>Fecha:</strong> <span>{{evento.fecha}}</span></p>
                            <p><strong>Precio:</strong> <span>{{evento.precio}}</span></p>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                            <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus"></span> Remover</button>
                        </p>
                    </div>
                </div>
            </td>
            <!--Columna del catalogo que contiene los sitios de interes-->
            <td id ="sitios">
                <div>
                    <div ng-repeat="evento in eventos | filter:{clasificacion: 'sitio'}">
                    <div class="col-md-4 col-sm-6 col-lg-3 well">
                        <div class="col-md-12">
                            <div class="img-thumbnail" id="image" ng-if="evento.img">
                                <a ng-href="{{evento.img}}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{evento.img}}" alt="{{evento.img}}"></a>
                            </div>
                        </div>
                        <div class="caption">
                            <p><strong>Nombre:</strong> <span>{{evento.nombre}}</span></p>
                            <p><strong>Descripción:</strong> <span>{{evento.descripcion}}</span></p>
                            <p><strong>Tipo:</strong> <span>{{evento.tipo}}</span></p>
                            <p><strong>Lugar/Dirección:</strong> <span>{{evento.tipo}}</span></p>
                            <p><strong>Precio:</strong> <span>{{evento.precio}}</span></p>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                            <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus"></span> Remover</button>
                        </p>
                    </div>
                </div>
                </div>
            </td>
            </tr>
        </table>
    </div>

