

table.tablaEyS {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 95%;
    height: 50%;
    border-collapse: collapse;
}

.thTE, .trTE {
    font-size: 13px;
    background: #b9c9fe;
    border-top: 4px solid #b9c9fe;
    border-bottom: 4px solid #B9C9FE;
    text-align: center;
}

.trTE{
    font-size: 25px;
}

.tdTE{
    font-size: 13px;
    background: #e8edff;
    border-top: 1px solid transparent;
    text-align: center;
    vertical-align: top;
}


.imgT {
    border: 5px solid #b9c9fe;
   margin: 3% ;
 opacity: 0.8;
}
