        /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 10/02/2016, 07:58:31 AM
    Author     : jg.murillo10
*/


#contenedorPrincipal{
    width: 100%;
}

#contenedorForo{
    height: 50%;
}
#contenedorCalificaciones{
    height: 50%;
}
#a{
    text-decoration: none;
}
#a:link{
    text-decoration: none;
}
#titulo{

    font-size: 25px;
    color: gray;

}
#circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

#type1 {
    width: 100px;
    height: 100px;
    background: yellow;
    border: 3px solid red;
}
#imagenPanelForo{
    width:50px;
    height:50px;
}

#circle {
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: black;
    position: relative;
    z-index: 1;
}
/*csss galeria*/
.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}

/*css pie de foto imagenes galeria*/
.ul.ulGaleria {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }

 li.liGaleria {
position: relative;
float: left;
width: 320px;
height: 255px;
overflow: hidden;
margin: 0 15px 15px 0;
}
.info {
 display: none;
 position: absolute;
 bottom: 0;
 z-index: 10;
 background: rgba(0, 0, 0, 0.5);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
 width: 300px;
 color: #FFF;
 padding: 10px;
}

li.liGaleria:hover .info {
display: block;
}
/*fin css pie de foto imagenes galeria*/
/*pie de foto imagenes galeria*/
.caption {
padding: 0;
width: 100%;
position: relative;
}
.caption img {
width: 100%;
height: auto;
display: block;
padding: 0;
border: 0;
}
.caption::before {
content: attr(title);
position: absolute;
background: #EAF200; /* Color de fondo */
background: rgba(234, 242, 0, 0.6); /* Color de fondo en RGBA */
color: #000; /* Color del texto */
font-size: 14px; /* Tamaño del texto */
padding: 5px;
right: 0;
bottom: 0;
left: 0;
text-align: center;
z-index: 1;
}

